/* container */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
.container {
  width: min(100%, 1440px);
  margin: auto;
  border: 5px solid red;
}

/* header */
header {
  background-color: #A88746;
  max-width: inherit;
  width: inherit;
  position: fixed;
  top: 0 ;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 26px 120px;
  z-index: 2;
}

.burger {
  display: none;
}
.xmark{
  display: none;
}

.header_ul {
  display: flex;
  column-gap: 67px;
  align-items: center;
}

.pages {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 29.05px;
  color: #000000;
}

.pages:hover {
  border-bottom: 2px solid #000000;
}

.active_page {
  color: #FFFFFF;
}

.active_page:hover {
  border-bottom: 2px solid #FFFFFF;
}

.cart_button {
  background-color: #FFFFFF;
  padding: 23px;
  border: none;
  border-radius: 20px;
}

.cart {
  color: #A88746;
  font-size: 32px;
}

.cart:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

/* index section1 */
.index_section1 {
 display: flex;
 padding: 227px 198px;
 background-image: url(../images/cover1.png);
 flex-direction: column;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: center;
 align-items: center;
 margin:207px 0px 0px 0px;
}
.title1 {
  font-family:"Playfair Display", serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 60px;
  text-align: center;  
  color: #FFFFFF;
  text-shadow:7px 8px 26px #2E0932;
}

.button1 {
background-color: #FFFFFF;
padding: 17px 80px;
border: none;
border-radius: 20px;
font-family:"Playfair Display", serif;
font-size: 32px;
font-weight: 700;
line-height: 42.66px;
text-align: center;
color: #000000;
margin-top: 105px;
box-shadow: none;
transition: all 0.5s;
position: relative;
}
.button1:hover{
  color: #A88746;
}
.button1::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255,255,255,0.1);
  transition: all 0.3s;
  border-radius: 20px;
}
.button1:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.button1::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255,255,255,0.5);
  transform: scale(1.2,1.2);
  border-radius: 20px;
  
}
.button1:hover::after {
  opacity: 1;
  transform: scale(1,1);
}

/* index section2 */
.index_section2{
  padding: 80px 121px;
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.title2{
font-family:"Playfair Display", serif;
font-size: 48px;
font-weight: 500;
line-height: 63.98px;
letter-spacing: 0.07em;
color: #000000;
}
.section_cards{
  display: flex;
  column-gap: 20px;
  align-items: center;
}
.card{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.card:hover {
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
}
.card_image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_image:hover{
  opacity: 0.5;
}
.article_card{
  background-color:#9C835066;
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  padding: 19px 14px;
  row-gap: 5px;
  height: 138px;
}
.card_div{ 
  display: flex;
  justify-content: space-between;
}
.Perfume_name, .price{
font-family:"Playfair Display", serif;
font-size: 24px;
font-weight: 500;
line-height: 31.99px;
letter-spacing: 0.07em;
color: #000;
}
.price:hover{
  color:rgb(28, 189, 28);
}
.perfume_for{
font-family: "Inter", sans-serif;
font-size: 15px;
font-weight: 500;
line-height: 18.15px;
letter-spacing: 0.07em;
color: #000;
}
.buy_button{
padding: 9px 11px 10px 11px;
border-radius: 20px;
background-color: #FFFFFF;
font-family:"Playfair Display", serif;
font-size: 16px;
font-weight: 500;
line-height: 21.33px;
letter-spacing: 0.07em;
color: #000;
border: none;
}
.buy_button:hover {
  color: #FFFFFF;
  border-radius: 5px;
  border: 2px solid #ffffff;
  background-color:rgb(28, 189, 28);
  transition: all 0.001s linear 0s;
  }
/* footer */
footer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 120px;
  background-color: #A88746;
}
.footer_section1{
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}

.social_media_mobile{
  display: none;
}
.help{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 77px;
}

.text_footer{
color: #FFFFFF;
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 19.36px;
}

.text_footer:hover{
  text-shadow: 2px 2px 8px rgb(255, 255, 255);
}
.social_media{
  column-gap: 16px;
  height: 24px;
  display: flex;
}

.media_links{
  font-size: 24px;
  color: #FFFFFF;
  animation-duration: 1s;
  animation-fill-mode: all;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.media_links:hover {
  cursor: pointer;
  animation-name: bounce;
}

@keyframes bounce {
	0%, 100%, 20%, 50%, 80% {
		-webkit-transform: translateY(0);
		transform:         translateY(0)
	}
	40% {
		-webkit-transform: translateY(-30px);
		-ms-transform:     translateY(-30px);
		transform:         translateY(-30px);
	}
	60% {
		-webkit-transform: translate(-1px);
		-ms-transform:     translate(-1px);
		transform:         translate(-1px);
	}
}

.right_ul{
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}
.right_li{
  column-gap: 16px;
  display: flex;
}